* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

body {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr;
    background-color: #1a1a1a;
}

header {
    grid-row: 1/2;
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: #000000;
    color: white;
}

.container {
    grid-row: 2/3;
    margin: 20px 100px;
    background-color: #1a1a1a;
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 20px;
}

span.add-icon {
    color: gray;
    font-size: 70px;
    width: 70px;
    height: 70px;
    position: fixed;
    right: 40px;
    bottom: 20px;
    cursor: pointer;
}

dialog {
    position: absolute;
    height: 400px;
    width: 350px;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -175px;
    border-radius: 10px;
    z-index: 1;
}

form {
    display: grid;
    padding: 10px;
    background-color: black;
    text-align: center;
}

span.close-dialog {
    color: red;
    text-align: end;
    cursor: pointer;
}

input[type="text"],
input[type="number"] {
    height: 40px;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    background-color: rgb(34, 34, 34);
}

input[type="checkbox"] {
    height: 20px;

}

label {
    color: white;
    font-size: 20px;
    height: 20px;
}

form button.submit {
    height: 50px;
    border: none;
    color: white;
    background-color: #175aeb;
    font-size: 25px;
    border-radius: 30px;
    cursor: pointer;
}

.card {
    height: 250px;
    background-image: url(bookcover.jpg);
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 13px;
    position: relative;
    overflow: hidden;
    padding-top: 35px;
}
.card p {
    height: fit-content;
    color: #9d816b;
    font-size: 19px;
    margin-bottom: 15px;
}

.card-btns {
    display: flex;
    position: absolute;
    bottom: -215px;
}

.read-btn,
.remove-btn {
    height: fit-content;
    width: 100px;
    border: none;
    outline: none;
    padding: 10px;
    color: white;
    cursor: pointer;
    font-size: 15px;
}

.read-btn {
    background-color: #175aeb;
    transition: .4s;
}

.remove-btn {
    background-color: #b6010a;
    transition: .4s;
}

.remove-btn:hover {
    background-color: red;
}

.read-btn:hover {
    background-color: #5e85d8;
}